<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Introducción a CoffeeScript</title>
    <%- css('impress-demo.css') %> 
	<!-- Metro UI Css -->
	<%- css('modern.css') %>
	<%- css('modern-responsive.css') %>   
	<!-- Presentation styles -->
	<%- css('presentation.css') %>
    <!-- Jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <!-- Snake -->
    <%- js('snake.js') %>    
    <!-- Highlight.js -->
    <%- css('highlight/zenburn.css') %>
    <%- js('highlight.pack.js') %>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="shortcut icon" href="favicon.png" />
</head>

<body class="impress-not-supported">

<div class="fallback-message">
    <p>Tu navegador <b>no posee las características requeridas</b> para ver la presentación, así que se presenta
    	una versión simplificada de la misma</p>
    <p>Para tener una mejor experiencia, por favor utiliza <b>Chrome</b>, <b>Safari</b> o <b>Firefox</b>.</p>
</div>

<div id="impress">

	<div id="start" class="step" data-x="0" data-scale="8" data-y="0">
		<h1>Introducción a <small>CoffeeScript</small></h1>
		<p class="center"><img src="/img/coffeescript_logo.png"/></p>
	</div>
	<div id="content" class="step" data-x="10200" data-y="0" data-scale="8" data-rotate-y="40">
		<h2>Introducción a <small>CoffeeScript</small><span class="right">Contenido</span></h2>
		<div class="tiles">
			<div class="tile double bg-color-blue">
				<div class="tile-content icon"><img src="/img/what.png"/></div>
				<div class="brand">
					<h3>¿Qué es Javascript?</h3>
				</div>
			</div>
			<div class="tile bg-color-blueDark">
				<div class="tile-content icon"><img src="/img/history.png"/></div>
				<div class="brand">
					<h3>Historia</h3>
				</div>
			</div>			
			<div class="tile double bg-color-purple">
				<div class="tile-content icon"><img src="/img/what-to-do.png"/></div>
				<div class="brand">
					<h3>¿Qué se puede hacer?</h3>
				</div>
			</div>	
			<div class="tile bg-color-yellow">
				<div class="tile-content icon"><img src="/img/coffeescript_logo_white.png"/></div>
				<div class="brand">
					<h3>CoffeeScript</h3>
				</div>
			</div>
			<div class="tile bg-color-pink">
				<div class="tile-content icon"><img src="/img/sintaxis.png"/></div>
				<div class="brand">
					<h3>Sintaxis</h3>
				</div>
			</div>	
			<div class="tile bg-color-green">
				<div class="tile-content icon"><img src="/img/install.png"/></div>
				<div class="brand">
					<h3>Instalación</h3>
				</div>
			</div>	
			<div class="tile bg-color-greenDark">
				<div class="tile-content icon"><img src="/img/compile.png"/></div>
				<div class="brand">
					<h3>Compilar</h3>
				</div>
			</div>				
			<div class="tile bg-color-darken">
				<div class="tile-content icon"><img src="/img/examples.png"/></div>
				<div class="brand">
					<h3>Ejemplos</h3>
				</div>
			</div>							
		</div>
	</div>
    <div id="whatIs" class="step" data-x="8300" data-y="3000" data-rotate="-90" data-rotate-y="40" data-scale="4">
        <p>es un lenguaje <b class="positioning">dinámico</b>, <b class="rotating">interpretado</b> y de tipado <b class="positioningDown">débil</b></p>
    </div>	
    <div id="paradigms" class="step" data-x="8400" data-y="6000" data-rotate="-180" data-rotate-y="40" data-scale="4">
    	<p>Permite programación orientada a <b>objetos</b>, <b>imperativa</b> o <b>funcional</b></p>
    	<p><b>No</b> es de propósito general</p>
	</div>
	<div id="jsSyntax" class="step" data-x="12500" data-y="6000" data-scale="1" data-rotate-y="40" data-rotate="-45">
		<div>
			<pre>
				<code class="javascript">
					personas = ["Victor", "Juan", "Pedro", "Luis"];
					for (_i = 0, _len = personas.length; _i < _len; _i++) {
						persona = personas[_i];
						console.log(persona);
					}
				</code>
			</pre>			
		</div>
	</div>
	<div id="history1" class="step" data-x="2000" data-y="6000" data-scale="4" data-rotate="-180" data-rotate-y="40">
		Fue creado por un empleado de <b>Netscape</b> para el navegador de la empresa en 1995.
		<p class="center"><small>Brendan Eich</small>&nbsp;<img src="/img/brendan.jpeg"/></p>
	</div>
	<div id="whatCanIdo" class="step" data-x="4500" data-y="5000" data-scale="2" data-rotate="-180" data-rotate-y="40">
		<ul>
			<li>Funciones que interactúen con el DOM</li>
			<li>Cargar contenido vía AJAX</li>
			<li>Animaciones (esta presentación)</li>
			<li>Juegos</li>
			<li>Validación de formularios</li>
		</ul>		
	</div>
	<div id="snake" class="step" data-x="4870" data-y="4850" data-scale="0.1" data-rotate="-180" data-rotate-y="40">
		<canvas id="canvas" width="450" height="450"></canvas>
	</div>	
	<div id="stats" data-x="13700" data-y="3000" data-rotate="-90" data-rotate-y="40" data-scale="4" class="step">
		<img src="/img/stats.jpg"/>
	</div>
	<div id="stats2" data-x="17000" data-y="3000" data-rotate="-90" data-rotate-y="40" data-scale="2" class="step">
	</div>
	<div id="stats3" data-x="20000" data-y="3000" data-rotate="-90" data-rotate-y="40" data-scale="1" class="step">
	</div>	
	<div id="graphics" class="step" data-x="17000" data-y="5600" data-rotate-y="40" data-scale="4" data-rotate="0">
		<img src="/img/graphs.png"/>
	</div>
	<!-- Let's start with coffeescript -->
	<div id="coffeeStart" class="step" data-scale="8">
	</div>
	<div id="coffee" class="step slide" data-x="" data-y="1500" data-scale="0.2">
		<h2>¿Qué es CoffeeScript?</h2>
		<p class="center">
			<img src="/img/coffeescript_logo.png"/>
		</p>
		<p>
			Es un lenguaje nacido en 2009 que se compila a Javascript. Posee una sintaxis
			parecida a Ruby o Python.
			<br/>
		</p>
		<pre class="coffee">
			<code class="coffeescript">
				greet = (person = "world") ->
					console.log "Hello #{person}"
				greet "class"
			</code>
		</pre>
		<p>Su popularidad no ha dejado de crecer</p>
	</div>
	<div class="step" data-x="45" data-y="1528" data-scale="0.08">
		<pre class="coffee">
			<code class="javascript">
				var greet;
				greet = function(person) {
				  if (person == null) {
				    person = "world";
				  }
				  return console.log("Hello " + person);
				};
				greet("class");			
			</code>
		</pre>
	</div>
	<div id="coffee2" class="step slide" data-x="200" data-y="1500" data-scale="0.2">
		<table>
			<thead><tr><th>Operadores lógicos</th></tr></thead>
			<tbody>
				<tr><td>== is</td></tr>
				<tr><td>!= isnt</td></tr>
				<tr><td>not</td></tr>
				<tr><td>or</td></tr>
				<tr><td>true yes on</td></tr>
				<tr><td>false no off</td></tr>
			</tbody>
		</table>
		<pre class="coffee">
			<code class="coffeescript">
				switchOff light if light is on
				switchOff light unless light is off

				if 2 < age < 5
					alert "Yes!"
				else
					alert "Too old"
			</code>
		</pre>		
	</div>
</div>
<%- js('impress.js')%>
<script>impress().init();</script>

</body>
</html>
