<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Introducción a CoffeeScript</title>
    <%- css('impress-demo.css') %> 
	<!-- Metro UI Css -->
	<%- css('modern.css') %>
	<%- css('modern-responsive.css') %>   
	<!-- Presentation styles -->
	<%- css('presentation.css') %>
    <!-- Jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <!-- Snake -->
    <%- js('snake.js') %>    
    <!-- Highlight.js -->
    <%- css('highlight/zenburn.css') %>
    <%- js('highlight.pack.js') %>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="shortcut icon" href="favicon.png" />
</head>

<body class="impress-not-supported">

<div class="fallback-message">
    <p>Tu navegador <b>no posee las características requeridas</b> para ver la presentación, así que se presenta
    	una versión simplificada de la misma</p>
    <p>Para tener una mejor experiencia, por favor utiliza <b>Chrome</b>, <b>Safari</b> o <b>Firefox</b>.</p>
</div>

<div id="impress">
<%- body %>		
</div>
<%- js('impress.js')%>
<script>impress().init();</script>

</body>
</html>
