<!DOCTYPE html>
<html>
	<head>
		<title>Javascript by example</title>
		<!-- Metro UI Css -->
		<%- css('modern.css') %>
		<%- css('modern-responsive.css') %>
		<!-- Site styles -->
		<%- css('styles.css') %>
		<!-- Favicon -->
		<link href="favicon.ico" rel="shortcut icon">
		<!-- JS files -->
	 	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	 	<%- js('jquery.transit.min.js') %>
		<%- js('app.js') %>
	</head>
	<body>
		<div class="page">
			<div class="page-region">
				<div class="page-region-content">
					<p class="place-right tertiary-secondary-text">
						built with 
						<a class="fg-color-blueLight" href="http://nodejs.org/">Node.js</a>
					</p>					
					<h1>
						Javascript
						<small>
							by example
							<span class="fg-color-blue">v 0.0.1</span>
						</small>
					</h1>					
				</div>
			</div>
			<div class="page-region">
				<div class="page-region-content">
					<!-- Tiles superiores -->
					<div id="top-menu" class="grid">
						<div class="row up-tiles">
							<div class="span4 bg-color-blue">
								<a class="upper-menu" href="">
									<img src="/img/material.png"/>
									<h2>Material</h2>							
								</a>
							</div>
							<div class="span4 bg-color-blueDark">
								<a class="upper-menu" href="">
									<img src="/img/about.png"/>
									<h2>Sobre esta página</h2>							
								</a>						
							</div>
							<div class="span4 bg-color-purple">
								<a href="">
									<img src="/img/github_white.png"/>
									<h2>Algo de código</h2>							
								</a>
							</div>
						</div>
					</div>
					<!-- Introduccion a coffeescript -->
					<div id="carousel">
						<div id="carousel-container">
							<div class="carousel-elem first hero-unit">
								<img class="place-left" src="/img/coffeescript.png"/>
								<h1>Coffeescript
									<small>introducción</small>
								</h1>
								<div class="span8 offset3">
									<div>
										<blockquote class="place-right">
											CoffeeScript es un lenguaje de programación que se compila a JavaScript. El lenguaje añade azúcar sintáctico inspirado en Ruby, Python y Haskell2 para mejorar la brevedad y la legibilidad de JavaScript, y añade características más sofisticadas, como la comprensión de listas y la coincidencia de patrones.
										</bockquote>
									</div>
									<div class="operations">
										<button class="default start-show" data-showId="coffee" data-url="">Iniciar presentación</button>
										<button class="default" data-url="">Cuestionario</button>
										<button class="default" data-url="">Recursos</button>
									</div>							
								</div>
							</div>
							<div class="carousel-elem hero-unit">
								<img class="place-left" src="/img/nodejs.png"/>
								<h1>Node.js <small>introducción</small></h1>
								<div class="span8 offset3">
									<div>
										<blockquote class="place-right">
											Node.js es un entorno de programación en la capa del servidor basado en el lenguaje de programación Javascript, con I/O de datos en una arquitectura orientada a eventos, y basado en el motor Javascript V8. Fue creado con el enfoque de ser útil en la creación de programas de red altamente escalables.
										</bockquote>
									</div>
									<div class="operations">
										<button disabled="disabled" data-showId="node" data-url="">Iniciar presentación</button>
										<button disabled="disabled" data-url="">Cuestionario</button>
										<button disabled="disabled" data-url="">Recursos</button>
									</div>							
								</div>								
							</div>
							<div class="carousel-elem hero-unit">
								<img class="place-left" src="/img/playing.jpeg"/>
								<h1>Jugando con <small>Node.js</small></h1>
								<div class="span8 offset3">
									<div>
										<blockquote class="place-right">
											Una vez se han dado los primeros pasos tanto con Coffeescript como con Node.js
											en esta última presentación se procederá a realizar una aplicación de ejemplo
											que resuma todo lo aprendido.
										</bockquote>
									</div>
									<div class="operations">
										<button disabled="disabled" data-showId="playing-with-node" data-url="">Iniciar presentación</button>
										<button disabled="disabled" data-url="">Cuestionario</button>
										<button disabled="disabled" data-url="">Recursos</button>
									</div>							
								</div>								
							</div>							
						</div>
					</div>
					<div class="carousel-controls">
						<a data-dir="back" href="#" class="back-button"></a>
						<a data-dir="forward" class="forward-button" href="#"></a>
					</div>					
				</div>
			</div>
			<!-- Footer -->
			<div id="footer" class="header-bar">
				<div class="header-bar-inner">
					<p class="place-right tertiary-text fg-color-white">
						2012 - Sistemas y Tecnologías Web - 
						<a href="" class="fg-color-blueLight">Víctor Mora</a>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
